{% extends "structure/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="nav-bar-spacer">
                
</div>
<div class="container allauth-body-size">
  <div class="row">
    <div class="col-md-6 mt-2 offset-md-4">
        <h2>{% trans "Sign In" %}</h2>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
</div>


{% endblock %}
