* {
    font-family: 'Uchen', sans-serif;
}

.container-padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    overflow-x:hidden;
}

/* navbar */

.navbar {
    background-color: #36454F;
}

.nav-bar-spacer {
    height: 20px;
}

.list-style {
    list-style: none;
}

.message-box {
    padding-top: 50px;
}

.fading-article-item {
    transition: all 0.4s ease-in-out;
}

.fading-article-item:hover {
    background: #36454F;
    color: white;
}

.fading-article-item a:hover {
    color: white;
}

.card-img-top-home {
    height: 12rem;
    object-fit: cover;
}

/* navbar modal */

.modal-button {
    background-color: #36454F;
    border-style: none;
}

.modal-button:focus {
    outline: none;
    box-shadow: none;
  }

.modal-header,
.modal-footer-color {
    background-color: #36454F !important;
    color: white;
}

#home-page-modal,
#update-profile-modal,
#profile-modal, 
#add-post-modal, 
#update-post-modal {
    display: none;
}

.modalTextInfo {
    display: block;
}

/* minimum height tabs */

#home-page-index {
    min-height: 75vh;
}

#profile-page-index {
    min-height: 50vh;
}

/* Pagination bar */

#pagination {
    height: 50px;
}

/* Detailed View */

.image-container-div {
    margin: auto;
    padding: auto;
    max-height: 600px;
    max-width: 600px;
    flex-direction: column;
    overflow: hidden;
}

.journeyImages {
    cursor: default;
}

.journeyImages {
    display: none;
}

.fade-animation {
    animation-name: fade;
    animation-duration: 1.6s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#previous, #next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: #36454F;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
  }

#previous:hover, #next:hover {
    color: #12948d;
  }

/* Add Post Form */

.hidden_element {
    display: none;
}

.shown_element {
    display: block;
}

/* Profile Section */

#profile-picture {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
}

#achievements {
    display: none;
}

.overflow {
    overflow: hidden
}

.margin-none {
    margin: 0;
    padding: 0;
}

.social-links {
    margin-left: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: #36454F;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
    line-height: 7px;
}

.social-links li a i:hover {
    background: #12948d
}

.tablinks {
    width: 40%;
    border-style: solid;
    border-color: white;
    display: inline-block;
    background-color: #36454F;
    color: white;
}

.tabs button:hover {
    background-color: #12948d;
  }

.tabs-button-active {
    background-color: #12948d;
  }
  
.tabcontent {
    display: none;
}

.profile-mountain-list {
    padding: 0;
}

.profile-mountain-list li {
    list-style: none;
}

.mountain-list-div {
    border-style: solid;
    border-color: #386a8b;
    background-color: #386a8b;
    width: 70%;
    margin-top: 2px;
    color: white;
    border-radius: 10px;
}

.achievement-list-item {
    border-style: solid;
    border-color: #36454F;
    background-color: #36454F;
    width: 70%;
    margin-top: 2px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

/* banner image */

.banner-image-div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner-image {
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dkzungvzx/image/upload/v1660849585/pexels-owen-fon-williams-10874914_hgqrgm.jpg");
}

#about-header {
    display: none;
}

#about-us-text-box {
    position: absolute;
    max-width: 40%;
    margin-left: 6%;
    margin-top: 6%;
    width: fit-content;
    height: fit-content;
    background-color: rgb(54, 69, 79, 0.6);
}

#about-us-text {
    padding: 4px;
    color: white;
}

#small-about-text {
    display: none;
    font-size: 80%;
}

/* footer */

footer {
    margin: auto 0;
    bottom: 0;
    padding: 0;
    font-size: 80%;
    background-color: #36454F;
    color: white;
}

.footer-account {
    color: white;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.footer-account:hover {
    text-decoration: underline;
    color: #12948d;
}

.footer-social-link { 
    color: white;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.footer-social-link:hover {
    color: #12948d;
}

/* allauth */

.allauth-height {
    height: 75vh;
}

/* font awesome icons */

.fa-star {
    color: white;
}

.star-icon {
    background-color: #36454F;
}

.star-clicked {
    background-color: #36454F;
    color: gold;
}

.gold-mountain {
    color: gold;
}

.silver-mountain {
    color: silver;
}

.bronze-mountain {
    color: #CD7F32;
}

.first-medal {
    color: gold;
}

.second-medal {
    color: silver;
}

.third-medal {
    color: #CD7F32;
}

.black-hike {
    color: black;
}

.gold-hike {
    color: gold;
}

.silver-hike {
    color: silver;
}

.bronze-hike {
    color: #CD7F32;
}

/* Screen resolution controls */

@media only screen and (max-width: 1023px) {

    .spacer {
        height: 20px;
    }

    .allauth-body-size {
        height: auto;
    }

    #footer-spacer {
        height: 10px;
    }

}

@media only screen and (max-width: 600px) {

    #profile-page-index,
    #home-page-index {
        min-height: 0vh;
    }

    #about-header {
        display: block;
        color: #36454F;
    }

    .message-box {
        padding-top: 70px;
    }

    .allauth-height {
        height: 60vh;
    }
    
    footer h4 {
        text-align: center;
    }

    .social-links-footer {
        display: none;
    }

    #about-us-text-box,
    .banner-image {
        display: none;
    }

    #small-about-text {
        display: block;
        height: fit-content;
    }

}

@media only screen and (max-width: 411px) {
    
    footer {
        position: inherit;
        margin: 0;
    }
    .spacer {
        height: 20px;
    }
    
    #sign-up-text {
        display: block;
    }

}