* {
    font-family: 'Uchen', sans-serif;
}

#icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 6rem;
    height: 2rem;
}

.profile-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    z-index: -3;
    overflow: hidden;
}

.navbar {
    background-color: #36454F;
}

.border-blue {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: #36454F;
    margin-top: 0;
    padding-top: 0;
}

.couldbe {
    transition: all 0.4s ease-in-out;
}

.couldbe:hover {
    background: #36454F;
    color: white;
}

.image-section {
    background-image: url("https://res.cloudinary.com/dkzungvzx/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency//v1658827279/mendip_hills_ep6hxc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top-home {
    height: 12rem;
    object-fit: cover;
}

/* Profile Section */

#profile-picture {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
}

.overflow {
    overflow: hidden
}

.margin-none {
    margin: 0;
    padding: 0;
}

.social-links {
    padding: 15px;
    margin-left: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: #36454F;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
    line-height: 7px;
}

.social-links li a i:hover {
    background: #12948d
}

/* font awesome icons */

.fa-star {
    color: white;
}

.star-icon {
    background-color: #36454F;
}