* {
    font-family: 'Uchen', sans-serif;
}

#icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 6rem;
    max-height: 2rem;
}

.profile-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    z-index: -3;
    overflow: hidden;
}

.navbar {
    background-color: #36454F;
}

.nav-bar-spacer {
    height: 60px;
}

.border-blue {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: #36454F;
    margin-top: 0;
    padding-top: 0;
}

.couldbe {
    transition: all 0.4s ease-in-out;
}

/* label[for=id_second_cairn],
#id_second_cairn,
label[for=id_third_cairn],
#id_third_cairn {
    visibility: hidden;
} */

.couldbe:hover {
    background: #36454F;
    color: white;
}

.image-section {
    background-image: url("https://res.cloudinary.com/dkzungvzx/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency//v1658827279/mendip_hills_ep6hxc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top-home {
    height: 12rem;
    object-fit: cover;
}

/* Detailed View */

.image-container-div {
    margin: auto;
    padding: auto;
    max-height: 600px;
    max-width: 600px;
    flex-direction: column;
}

.journeyImages {
    display: none;
}

.fade-animation {
    animation-name: fade;
    animation-duration: 1.6s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#previous, #next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: #36454F;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
  }

#previous:hover, #next:hover {
    color: #12948d;
  }

/* Profile Section */

#profile-picture {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
}

.overflow {
    overflow: hidden
}

.margin-none {
    margin: 0;
    padding: 0;
}

.social-links {
    padding: 15px;
    margin-left: 25px;
}

footer {
    padding: 0;
    margin: 0;
    font-size: 80%;
    background-color: #36454F;
    color: white;
}

.footer-account {
    color: white;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.footer-account:hover {
    text-decoration: underline;
    color: #12948d;
}

.footer-social-link {
    color: white;
}

.footer-social-link { 
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.footer-social-link:hover {
    color: #12948d;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: #36454F;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
    line-height: 7px;
}

.social-links li a i:hover {
    background: #12948d
}

/* font awesome icons */

.fa-star {
    color: white;
}

.star-icon {
    background-color: #36454F;
}