{% extends "structure/base.html" %}
{% block content %}
<!-- 404 error display below-->
<div class="container allauth-height">
    <div class="mt-3 mb-3">
        <div class="card text-center">
            
            <header class="card-header">
                <h1>This Page Cannot Be Found</h1>
            </header>
            
            <div class="card-body text-center">
                <a href="{% url 'home' %}" class="btn btn-secondary mb-3">Home</a>
                <div>
                    <p>Click the above button to head home.</p>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}