{% extends 'structure/base.html' %}
{% block title  %}
{{ About }}
{% endblock %}


{% block content %}

<div class="row text-center padding-none">
    <br>
    <div class="col-12 padding-none">
        <div class="banner-image-div">
            <div id="about-us-text-box">
                <div id="about-us-text">
                    <p>We believe hiking should be fun</p>
                    <p>To help you find it as great as we do we've built this tool to help you track your hikes, and the peaks you cover in the region. The brecon beacons are the first region we've made available. Watch this space for more</p>
                    <p>The more peaks you climb the more awards you collect. More peaks and further distances walked also give achievements. You can see all awards and achievements on your profile</p>
                    <p>So sign up, create a profile and get hiking</p>
                </div>
            </div>
            <img src="https://res.cloudinary.com/dkzungvzx/image/upload/v1660849585/pexels-owen-fon-williams-10874914_hgqrgm.jpg" alt="image of the brecons" class="banner-image">
        </div>    
    </div>
</div>

{% endblock %}