{% extends 'structure/base.html' %}
{{ user }}
{% block title  %}
{{ post.post_title }}
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    <div class="nav-bar-spacer">
                
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
                <h3>Create Profile</h3>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Create Profile</button>
                    </form>
                </div>
            </div>
    
        <div class="col-md-4">
    
        </div>
    </div>

{% else %}

<div class="row">
    <div class="col-md-4">
    </div>
        <div class="col-md-4 text-center">
            <br>
            <br>
            <h3>Best to Login or Sign Up</h3>
            <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
            <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
        </div>

    <div class="col-md-4">

    </div>
</div>

{% endif %}

{% endblock %}

