{% extends 'structure/base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    {% if comment.post.post_author.id == user.id %}
    <div class="nav-bar-spacer">
                
    </div>
    <h1>Delete Comment?</h3>
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Delete Comment</button>
        </form>
    </div>

    {% else %}
    
    You didn't make this comment

    {% endif %}

{% else %}

    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
                <h3>Best to Login or Sign Up</h3>
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
            </div>

        <div class="col-md-4">

        </div>
    </div>

{% endif %}

{% endblock %}