{% extends 'structure/base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="nav-bar-spacer">
                
</div>
<div class="container no-tip">
    <div class="row">
        <div class="col-md-6 mt-2 offset-md-3">
            <div class="spacer">
            </div>
            {% if post.post_author.id == user.id %}
            <div class="text-center">
                <h2>Delete Your Journey</h2>
                <br>
                <h3>Delete {{ post.title }}</h3>
                <br>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Delete Post</button>
                    </form>
                </div>
            </div>
        {% else %}

        <br>
        <br>
        <br>
        <div class="text-center">
            This isn't your post
        </div>
        {% endif %}
        </div>
    </div>
</div>

{% else %}

    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
                <h3>Best to Login or Sign Up</h3>
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
            </div>

        <div class="col-md-4">

        </div>
    </div>

{% endif %}

{% endblock %}

