{% extends 'base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    {% if post.post_author.id == user.id %}

    <h1>Delete Your Journey</h1>
    <br>
    <h3>Delete {{ post.title }}</h3>
    <br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Delete Post</button>
        </form>
    </div>

    {% else %}
    
    This isn't your post

    {% endif %}

{% else %}

    <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
    <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>

{% endif %}

{% endblock %}