{% extends 'structure/base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}

{% block content %}

<div class="nav-bar-spacer">
                
</div>
<div class="container text-center">
    <br>
    <div class="row">
        <h1>
            {{ post.post_title }} 
        </h1>
        <strong>
            <p>
                completed by: {{ post.post_author.profile.display_name }}
            <p>  
        </strong>
    </div>
    <div>
        <div>
            <div>
                <div class="image-container-div detail-image-view">
                    {% if "placeholder" in post.header_image.url %}
                        <img class="card-img-top placeholder journeyImages"
                            src="https://res.cloudinary.com/dg0zmsaoc/image/upload/v1661443098/pexels-owen-fon-williams-10874914_hgqrgm_imhusi.jpg">
                    
                    {% else %}

                        <!-- Header Image -->
                        {% if post.header_image.url %}
                            <img class="card-img-top journeyImages fade-animation" src=" {{ post.header_image.url }}">
                        {% endif %}

                        <!-- Image 2 -->
                        {% if "placeholder" not in post.image_2.url %}
                            <img class="card-img-top journeyImages fade-animation" src=" {{ post.image_2.url }}">                
                        {% endif %}

                        <!-- Image 3 -->
                        {% if "placeholder" not in post.image_3.url %}
                            <img class="card-img-top journeyImages fade-animation" src=" {{ post.image_3.url }}">                
                        {% endif %}
                    
                    {% endif %}
                    <br>
                </div>
                <a id="next">See Next Image &#10095;</a>
            </div>
            <div>
                <br>
                    {{ post.created_date }} | {{ post.created_date | timesince }} ago
            </div>

            <!-- Star Section -->

            <div>
                <br>        
                {% if user.is_authenticated %}

                <form action="{% url 'star_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if post.starred %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="star-clicked"><i class="fas fa-star star-clicked"></i></button> - {{ post.total_stars }} star
                    {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}"><i class="far fa-star"></i></button> - {{ post.total_stars }} star
                    {% endif %}
                </form>
                <hr>
            </div>

            <div>  
                <h3>Journey Stats</h3>
                <br>
                {% if post.first_cairn or post.second_cairn or post.third_cairn %}
                <strong><p>Peak/s Reached:</p></strong>
                    {% if post.first_cairn %}
                        {{ post.first_cairn }} <i class="fas fa-mountain"></i>

                    {% endif %}
                    {% if post.second_cairn %}
                        | {{ post.second_cairn }} <i class="fas fa-hiking"></i>

                    {% endif %}
                    {% if post.third_cairn %} 
                        | {{ post.third_cairn }} <i class="fas fa-mountain"></i>

                    {% endif %}
                {% else %}
                    <p>No Cairns Reached - Still Proud.</p>
                {% endif %}
                <br>
                <br>
                {% if post.distance > 0 %}
                {{ post.distance }}Km Covered 
                {% endif %}
                
                {% if post.meters_climbed > 0 %}
                | {{ post.distance }} Meters Total Ascent
                {% endif %}
            </div>
            <br>
            {% if post.body == None %}

            {% else %}
                <hr>
                    <div>
                        <h3>Journey Notes</h3>
                        {{ post.body | safe }} 
                    </div>
                <hr>
            {% endif %}

            {% if post.post_author.id == user.id %}

            <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Update</a> 
            <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>

            {% else %}

            <a href="{% url 'home' %} " class="btn btn-secondary">Home</a>

            {% endif %}

            <hr>
            
            <h2>Comments:</h2>

            <br>

            {% for comment in comments %}

            <blockquote>
                {{ comment.comment_author }} : {{ comment.created_date | timesince }} ago
                <br>
                <p>{{ comment.body | safe }}</p>
                <br>
            </blockquote>
            
            {% endfor %}

            <hr>
            <h4>Leave a comment:</h4>
                <form method="post">
                    {{ comment_form }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-secondary" name="comment" value="comment">Post Comment</button>
                </form>
            <hr>
            <br>

            {% else %}
            <div>  
                <h3>Journey Stats</h3>
                <br>
                {% if post.first_cairn or post.second_cairn or post.third_cairn %}
                <strong><p>Peak/s Reached:</p></strong>
                    {% if post.first_cairn %}
                        {{ post.first_cairn }} <i class="fas fa-mountain"></i>

                    {% endif %}
                    {% if post.second_cairn %}
                        | {{ post.second_cairn }} <i class="fas fa-hiking"></i>

                    {% endif %}
                    {% if post.third_cairn %} 
                        | {{ post.third_cairn }} <i class="fas fa-mountain"></i>

                    {% endif %}
                {% else %}
                    <p>No Cairns Reached - Still Proud.</p>
                {% endif %}
                <br>
                <br>
                {% if post.distance > 0 %}
                {{ post.distance }}Km Covered 
                {% endif %}
                
                {% if post.meters_climbed > 0 %}
                | {{ post.distance }} Meters Total Ascent
                {% endif %}
            </div>
            <br>
            <button class="star-icon" type="submit", name="post_id", value="{{ post.id }}"><i class="far fa-star"></i></button> - {{ post.total_stars }} Stars

            {% endif %}
        </div>
    </div>          
</div>

{% endblock %}