{% extends 'base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}

{% block content %}

    <h1>{{ post.post_title }}</h1>
    <div>
        By {{ post.post_author }} | {{ post.created_date }}
        <hr>
        <!-- the safe tag marks the item as safe so the body can be edited into paragraphs -->
        {{ post.body | safe }} 
    </div>
    <br>

    {% if post.post_author.id == user.id %}

    <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Update</a> 
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
    <br>
    <br>
    <a href="{% url 'home' %} " class="btn btn-secondary">Home</a>

    {% else %}

    <a href="{% url 'home' %} " class="btn btn-secondary">Home</a>

    {% endif %}

    <br><br>
    <form action="{% url 'star_post' post.pk %}" method="POST">
        {% csrf_token %}
            <button type="submit", name="post_id", value="{{ post.id }}"><i class="fa-solid fa-star"></i></button>
    </form>

{% endblock %}