{% extends 'structure/base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <!-- Blog Items Arranged Below -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in object_list %}
                    <div class="col-md-3 text-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="img-thumbnail">
                                    {% if "placeholder" in post.header_image.url %}
                                    <img class="card-img-top card-img-top-home"
                                        src="https://res.cloudinary.com/dkzungvzx/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency//v1658827279/mendip_hills_ep6hxc.jpg">
                                    {% else %}
                                    <img class="card-img-top card-img-top-home" src=" {{ post.header_image.url }}">
                                    {% endif %}
                                </div>
                                    <div class="card-body">
                                    <a href="{% url 'detail' post.pk %}">{{ post.post_title }}</a> 
                                    <br>
                                    {{ post.post_author }} | {{ post.created_date |date:"d M-Y" }}
                                    <br>
                                    {{ post.post_blurb | slice:50 | safe}}
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}