{% extends 'structure/base.html' %}
{% block title %}
Tell Us About Your Journey
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="nav-bar-spacer">
                
</div>
<section>
    <div class="text-center p-4">
        <h1>Tell Us About Your Journey</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Post</button>
                    </form>
                </div>
            </div>

        <div class="col-md-4">

        </div>
    </div>
    <br>
{% else %}
    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
                <br>
                <br>
                <h3>Best to Login or Sign Up</h3>
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
            </div>

        <div class="col-md-4">

        </div>
    </div>
</section>
{% endif %}
    <br>
    <br>
{% endblock %}
