{% extends 'structure/base.html' %}

{% block content %}

<section class="top-height">
        <div class="row no-gutters">
                {% for name in user.images.all %}
                    <img class="col-md-3 margin-none" id="profile-picture" src="{{ name.profile_image.url }}" alt="profile-picture">
                {% endfor %}
            <div class="col-md-9 border-bottom">
                <div class="row no-gutters">
                    <div class="col heading my-auto profile-info">
                        <h1 class="name">
                            {% for name in user.images.all %}
                            {{ name.user_name }}
                            {% endfor %}</h1>
                        <h2 class="title">Here we go</h2>
                        <h3>Stat about Distance | Stat about Cairns reached</h3>
                        <h4><a href="{% url 'update_profile' %}">Update Profile</a></h4>
                    </div>
                </div>
                <div class="row no-gutters badge-height">

                </div>
            </div>
        </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row badge-height border margin-none">

        </div>
    </div>
</section>

<section>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-3 border-end profile-info">
                map here
            </div>
            <!-- Blog Items Arranged Below -->
            <div class="col-md-9">
                <div class="row mt-3">
                    {% for post in object_list %}
                    {% if post.post_author.id == user.id %}
                        <div class="col-md-4 text-center">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if "placeholder" in post.header_image.url %}
                                        <img class="card-img-top border"
                                            src="https://res.cloudinary.com/dkzungvzx/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency//v1658827279/mendip_hills_ep6hxc.jpg">
                                        {% else %}
                                        <img class="card-img-top border" src="{{ post.header_image.url }}">
                                        {% endif %}
                                    </div>
                                        <div class="card-body">
                                        <a href="{% url 'detail' post.pk %}">{{ post.post_title }}</a> 
                                        <br>
                                        {{ post.post_author }} | {{ post.created_date |date:"d M-Y" }}
                                        <br>
                                        {{ post.post_blurb | slice:50 | safe}}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}