{% extends 'structure/base.html' %}
{% load humanize %}
{% block content %}

<section class="small-center">

    <!-- Profile Picture Section  -->

    <div class="row no-gutters small-center">
        {% if 'placeholder' in profile.profile_picture.url %}
            <img class="col-md-3 margin-none" id="profile-picture"
                src="https://res.cloudinary.com/dg0zmsaoc/image/upload/v1661443098/pexels-owen-fon-williams-10874914_hgqrgm_imhusi.jpg">
        {% else %}
            <img class="col-md-3 margin-none" id="profile-picture" src="{{ profile.profile_picture.url }}" alt="profile-picture">
        {% endif %}

    <!-- Profile Stats Section  -->

        <div class="col-md-9 border-bottom">
            <div class="row no-gutters">
                <div class="col heading my-auto">
                    <h2 class="mt-1">{{ profile.display_name }}</h2>
                    <h4>Total Distance Hiked - {{ distance|intcomma }}Km</h3>
                    <h4>Peaks Conquered - {{ peaks_reached }}</h3>
                </div>
            </div>
    
    <!-- Social Media Links -->
            <h5>Social Accounts:</h5>
            {% if profile.instagram_url is None and profile.linkedin_url is None and profile.strava_url is None %}
                <div class="row no-gutters badge-height">
                    <p> Well.... we'd add Social media links if you updated your profile</p>
                    <i class="fas fa-hand-point-down"></i>
                </div>
            {% endif %}
            <div class="row no-gutters badge-height">
                <ul class="list-inline social-links">
                {% if profile.instagram_url != None %}
                    <li class="list-inline-item">
                        <a target="_blank" href="{{ profile.instagram_url }}">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                {% if profile.linkedin_url != None %}
                    <li class="list-inline-item">
                        <a target="_blank" href="{{ profile.linkedin_url }}">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                {% if profile.strava_url != None %}
                    <li class="list-inline-item">
                        <a target="_blank" href="{{ profile.strava_url }}">
                        <i class="fab fa-strava" aria-hidden="True"></i>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <p>
                <a href="{% url 'update_profile' profile.pk %}" class="achievement-list-item">Update Profile</a>
            </p>
        </div>
    </div>
</section>

<section>
    <!-- Achievements / Progress -->
    <div class="container-fluid p-0" id="profile-page-index">
        <div class="row">
            <div class="col-md-3 border-end">

                <!-- Buttons for tabs -->
                <div class="tabs mt-1 text-center">
                    <button class="tablinks margin-none tabs-button-active" id="progress-button">Progress</button>
                    <button class="tablinks margin-none" id="achievements-button">Achievements</button>
                </div>

                <!-- Progress Section -->
                <div id="progress">
                    <h3 class="m-2">Progress</h3>
                    <div class="m-2">
                        {% if peaks_reached == 0 %}
                        <p>No peaks reached yet</p>
                        {% else %}
                        <p>You've conquered:</p>
                        {% endif %}
                    </div>
                    <!-- Mountains reached -->
                    <ul class="profile-mountain-list m-2">
                        {% for mountains in mountains_walked %}
                        <div class="mountain-list-div">
                            <li><i class="fas fa-mountain gold-mountain"></i> {{ mountains }}</li>
                        </div>
                        {% endfor %}
                    </ul>
                    <!-- Mountains left to go -->
                    <div class="m-2">
                        <p>Still left to conquer:</p>
                    </div>
                    <ul class="profile-mountain-list m-2">
                        {% for mountains in mountain_array %}
                        <div class="mountain-list-div">
                            <li><i class="fas fa-hiking"></i> {{ mountains }}</li>
                        </div>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Achievements -->
                <div id="achievements">
                    <h3 class="m-2">Achievements</h3>
                    <div class="m-2">
                        <p>Your achievements:</p>
                    </div>
                    <div>
                        <ul class="profile-mountain-list m-2">

                        {% if 'Pen y Fan' in mountains_walked %}
                        <li class="achievement-list-item">
                            <i class="fas fa-mountain gold-mountain"></i> - Highest Mountain Reached
                        </li>
                        {% endif %}

                        {% if 'Fan Brycheiniog' in mountains_walked %}
                        <li class="achievement-list-item">
                            <i class="fas fa-mountain silver-mountain"></i> - Second Highest Mountain Reached
                        </li>
                        {% endif %}

                        {% if 'Cribyn' in mountains_walked %}
                        <li class="achievement-list-item">
                            <i class="fas fa-mountain bronze-mountain"></i> - Third Highest Mountain Reached
                        </li>
                        {% endif %}

                        {% if peaks_reached >= 20 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-medal first-medal"></i> - Completed all 20 Peaks
                        </li>
                        {% endif %}

                        {% if peaks_reached >= 10 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-medal second-medal"></i> - Completed 10 of 20 Peaks
                        </li>
                        {% endif %}

                        {% if peaks_reached >= 5 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-medal third-medal"></i> - Completed 5 of 20 Peaks
                        </li>
                        {% endif %}

                        {% if distance >= 250 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-hiking black-hike"></i> - Completed 250km walk of walking
                        </li>
                        {% endif %}

                        {% if distance >= 100 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-hiking gold-hike"></i> - Completed 100km walk of walking
                        </li>
                        {% endif %}

                        {% if distance >= 50 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-hiking silver-hike"></i> - Completed 50km walk of walking
                        </li>
                        {% endif %}

                        {% if distance >= 10 %}
                        <li class="achievement-list-item">
                            <i class="fas fa-hiking bronze-hike"></i> - Completed 10km walk of walking
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Blog Items Arranged Below -->
            <div class="col-md-9">
                <div class="row mt-3">

                {% for post in current_page %}

                {% if post.post_author.id == user.id %}
                <div class="col-md-4 text-center">
                    <div class="card mb-4 fading-article-item">
                        <div class="card-body">
                            <div class="img-thumbnail">
                                {% if "placeholder" in post.header_image.url %}
                                <img class="card-img-top card-img-top-home"
                                    src="https://res.cloudinary.com/dg0zmsaoc/image/upload/v1661443098/pexels-owen-fon-williams-10874914_hgqrgm_imhusi.jpg">
                                {% else %}
                                <img class="card-img-top card-img-top-home" src=" {{ post.header_image.url }}">
                                {% endif %}
                            </div>
                                <div class="card-body">
                                <a href="{% url 'detail' post.pk %}">{{ post.post_title }}</a> 
                                <br>
                                {{ post.post_author.profile.display_name }} | {{ post.created_date |date:"d M-Y" }}
                                <br>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
                <div class="row">
                    <div id="pagination" class="text-center">
            
                        {% if current_page.has_previous %}
                            <a href="?site_page=1"><i class="fas fa-angle-double-left"></i></a>
                            <a href="?site_page={{ current_page.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                        {% endif %}
            
                        Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
            
                        {% if current_page.has_next %}
                            <a href="?site_page={{ current_page.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                            <a href="?site_page={{ current_page.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
                        {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}