{% extends 'structure/base.html' %}

{% block content %}
<div class="nav-bar-spacer">
                
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-2 offset-md-4">
      <!-- a spacer -->  
      <div class="spacer">
      </div>
      {% if user.is_authenticated %}
        {% if profile.user.id == user.id %}
        <h2>Update Your Profile</h2>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    </div>
  </div>
</div>
{% else %}
<!-- If the user accessing is not the profile owner -->
<div class="nav-bar-spacer">
                
</div>
  <div class="row">
    <div class="col-md-6 mt-2 offset-md-2 text-center allauth-height">
      <!-- a spacer -->  
      <div class="spacer">
      </div>
      <h3>This isn't your profile to update</h3>
      <div class="card-body text-center">
          <a href="{% url 'home' %}" class="btn btn-secondary mb-3">Home</a>
          <div>
              <p>Click the above button to head home.</p>
          </div>
      </div>
    </div>
  </div>
{% endif %}

{% else %}
<!-- If the user is not authenticated -->
<div class="row">
  <!-- a spacer -->  
  <div class="col-md-4">
  </div>
  <!-- The sign up links --> 
  <div class="col-md-4">
    <h3>Best to Sign in or Sign Up</h3>
    <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
    <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
  </div>
  <!-- a spacer -->
  <div class="col-md-4">
  </div>
</div>
{% endif %}
<br>
{% endblock %}