{% extends 'structure/base.html' %}
{{ post.post_title }}
{% block title  %}
{{ post.post_title }}
{% endblock %}


{% block content %}
<div class="nav-bar-spacer">
                
</div>
<div class="container text-center border-blue">

{% if user.is_authenticated %}

    {% if post.post_author.id == user.id %}
    <div class="text-center p-4">
        <h2>Update Your Journey</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Post</button>
                    </form>
                </div>
            </div>

        <div class="col-md-4">

        </div>
    </div>

    {% else %}

    <p>This isn't your post</p>

    {% endif %}
    
{% else %}

    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
                <h3>Best to Login or Sign Up</h3>
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">Sign Up</a>
                <a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a>
            </div>

        <div class="col-md-4">

        </div>
    </div>

{% endif %}

</div>

{% endblock %}

<script>
console.log("Working")
$('.editor').summernote({
  width: 150,
});
</script>